<div class="container">
  <div class="artist-details row">
    <div class="col-6 left-section justify-content-start pt-5">
      <% if  @artist.artwork_ids.size > 0 %>
        <%= cl_image_tag @artist.artworks.sample.artworks.first.key, class: "w-100" %>
      <% else %>
        <%= image_tag "image1.jpeg", class: "w-100" %>
      <% end %>
    </div>
    <div class="col-6 right-section justify-content-end pt-1 mt-5">
      <div class="my-2 px-2">
        <h3><%= "#{@artist.user.first_name} #{@artist.user.last_name}" %></h3>
        <h5> <%= @artist.hourly_rate %> €/Day</h5>
      </div>
      <a href="<%= new_artist_booking_path(@artist) %>">
        <h5 class="button button-blue">Book <%= @artist.user.first_name %></h5>
      </a>
      <div class="artist-details px-2">
        <div class="d-flex justify-content-between m-1 mt-5">
          <h6><strong>Personality</strong></h6>
          <p><%= @artist.personality %></p>
        </div>
        <div class="d-flex justify-content-between m-1">
          <h6><strong>Style</strong></h6>
          <p><%= @artist.style %></p>
        </div>
        <div class="d-flex justify-content-between m-1">
          <h6><strong>Location</strong></h6>
          <p><%= @artist.location %></p>
        </div>
        <div class="d-flex justify-content-between m-1">
          <h6><strong>email</strong></h6>
          <p><%= @artist.user.email %></p>
        </div>
        <div>
      </div>
        <h6 class="d-flex justify-content-start"><strong>Description</strong></h6>
        <p><%= @artist.description %></p>
      </div>
    </div>
  </div>

  <div class="pb-3 pt-5 mt-5">
    <div class="row">
      <h6 class="text-center">What <strong>ShutterJoy</strong> users are saying</h6>
    </div>
    <div class="mt-5 cards-vertical">
      <% @reviews.each do |review|  %>
        <div class="card-review card bg-white me-3">
          <div class="mb-1">
            <h6>john<%= review.booking.user.first_name %></h6>
          </div>
          <div class="mb-3">
            <h6>
              <% review.rating.to_i.times do %>
                ⭐️
              <% end %>
            </h6>
          </div>
          <p class="mb-1">"<%= review.content %>"</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
