<div class="container">
  <div class="artist-details row">
    <div class="col-6 left-section justify-content-start pt-5">
      <%= image_tag "image1.jpeg", class: "w-100" %>
    </div>
    <div class="col-6 right-section justify-content-end pt-1 mt-5">
      <div class="mb-2">
        <h3>Tim Walker</h3>
        <h5>150€/Day</h5>
      </div>
      <h5 class="btn btn-primary">Book Tim</h5>
      <div class="d-flex justify-content-between m-1">
        <h6><strong>Personality</strong></h6>
        <p>Creative, self motivated</p>
      </div>
      <div class="d-flex justify-content-between m-1">
        <h6><strong>Style</strong></h6>
        <p>Minimal</p>
      </div>
      <div class="d-flex justify-content-between m-1">
        <h6><strong>Location</strong></h6>
        <p>Berlin, Germany</p>
      </div>
      <div>
        <h6 class="d-flex justify-content-start"><strong>Description</strong></h6>
        <p>Walker crafts whimsical dreamscapes where reality dances with fantasy. His signature style transcends
        boundaries, blending vibrant colors, theatrical sets, and larger-than-life characters to provoke wonder and
        introspection. Each frame he captures narrates a spellbinding story, inviting viewers to wander through the
        corridors of their imagination. Walker stands as a virtuoso, painting surreal canvases with the light of his
      imagination, leaving an indelible mark on the tapestry of contemporary art.</p>
      </div>
    </div>
  </div>
</div>
<%# <br> %>
<%# <div>
  <h5>What <strong>ShutterJoy</strong> users are saying</h5>
  <br>
  <h6>Yifei Chen</h6>
  <h6>Seoul, South Korea | April 2019</h6>
  <h6>“Tim is a great photographer. He is very professional and has a great eye for detail. He is also very
    friendly and easy to work with. I would definitely recommend him to anyone looking for a photographer.”</h6>
  <br>
  <h6>Anthony Lewis</h6>
  <h6>Amsterdam, The Netherlands | April 2019</h6>
  <h6>“Tim is a great photographer. He is very professional and has a great eye for detail. He is also very
    friendly and easy to work with. I would definitely recommend him to anyone looking for a photographer.”</h6>
</div>
<br>
<div>
  <h5>Related Artwork</h5>
  <h6>View all</h6>
  <br>
  <div>
    <%= image_tag "first_img.jpeg" %>
    <%# <h6>Tim Walker</h6>
    <h6>Ninh Binh, Vietnam</h6>
  </div>
  <br>
  <div> %>
    <%# <%= image_tag "second_img.jpeg" %>
    <%# <h6>Tim Walker</h6>
    <h6>Dalat, Vietnam</h6>
  </div>
  <br>
  <div> %>
    <%# <%= image_tag "third_img.jpeg" %>
    <%# <h6>Tim Walker</h6>
    <h6>Hoi An, Vietnam</h6>
  </div>
  <br>
  <div> %>
    <%# <%= image_tag "images.jpeg" %>
    <%# <h6>Tim Walker</h6>
    <h6>Cat Ba island, Vietnam</h6>
  </div>
</div> %>
