<div class="container">

  <h4> All my artwork </h4>
  <%= link_to "Add a new Artwork", new_artist_artwork_path(@artist) %>

<div class="row mt-5">
<div class="card-columns">
  <% @artworks.each do |artwork| %>

    <% if artwork.artworks.attached? %>
      <% artwork.artworks.each do |photo| %>
        <div class="card-wrapper mb-2" data-aos="zoom-in">
          <div class="card-photo">
            <%= cl_image_tag photo.key, crop: :fill %>
            <div class="card-photo-infos">
              <div>
                <h4> <%= artwork.title %> </h4>
                <p><%= artwork.description %></p>
              </div>
              <small class="text-right flex-shrink-0">
                <%= link_to "edit", edit_artist_artwork_path(@artist, artwork), style: 'color: white; text-decoration: underline;' %> |
                <%= link_to "delete", artwork_path(artwork), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{artwork.title} from your list?" }, style: 'color: white; text-decoration: underline;' %>
              </small>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="card-wrapper mb-2" data-aos="zoom-in">
          <div class="card-photo">
            <%= image_tag "avatar.jpg", crop: :fill %>
            <div class="card-photo-infos">
              <div>
                <h4> <%= artwork.title %> </h4>
                <p><%= artwork.description %></p>
              </div>
              <small class="text-right flex-shrink-0">
                <%= link_to "edit", edit_artist_artwork_path(@artist, artwork) %>
                <%= link_to "delete", artwork_path(artwork), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{artwork.title} from your list?" }, class: 'text-danger' %>
              </small>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
  </div>
</div>
</div>
