<div class="banner container-fluid">
    <%= image_tag "banner.png" %>
    <div class="banner-content d-flex flex-wrap justify-content-center align-items-center">
        <h1>Art is beautiful, Art is life, Book your Artist</h1>
        <p>Browse our collection to find the Artists behind these beautiful masterpieces. Join us today and get bookings!</p>
        <div class="banner-action d-flex justify-content-between">
          <a href="<%= index_artworks_path %>" class="button button-blue">Explore Artworks</a>
          <% unless current_user.is_artist? %>
            <a href="<%= artist_path(Artist.first) %>" class="button button-white">Become an artist</a>
          <% end %>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="artist-header mt-5 d-flex justify-content-between align-items-center">
      <h2>Featured</h2>
      <a href="<%= index_artworks_path %>" class="button button-outline">View All</a>
      </div>
      <%= render "artworks/artwork_row", artworks: @artworks %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="artist-header mt-5 d-flex justify-content-between align-items-center">
      <h2>Artists</h2>
      <a href="<%= index_artists_path %>" class="button button-outline">View All</a>
    </div>
    <div class="row">
        <% @artists.each do |artist| %>
          <div class="col-sm-6 col-lg-3 mb-3">
            <%= link_to artist_path(artist)  do %>
              <div class="artist-card">
                <div class="artist-image d-flex justify-content-center">
                <% if artist.user.user_avatar.attached?  %>
                  <%= cl_image_tag(artist.user.user_avatar.key, crop: :fill, class: "avatar-large" )%>
                <% else %>
                  <%= image_tag "avatar.jpg", class: "avatar-large" %>
                <% end %>
                 <%#= artist.user.user_avatar.key ?  cl_image_tag(artist.user.user_avatar.key) : image_tag "avatar.jpg" %>
                </div>
              </div>
              <p class="text-center mt-3"> <%= artist.user.first_name %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="artist-header mt-5 d-flex justify-content-between align-items-center">
      <h2>All Artwork</h2>
      <a href="<%= index_artworks_path %>" class="button button-outline">View All</a>
    </div>
  <%= render "pages/index_artworks", artwork: @artwork %>
  </div>
</div>
