<div class="container">
  <div class="artist-header mt-5 mb-4 d-flex justify-content-between align-items-center">
    <h4> All Artists </h4>
    <%= link_to "Back", root_path, class: "button button-outline" %>
  </div>
<div class="row">
  <% @artists.each do |artist| %>
    <div class="col-sm-6 col-lg-3 mb-3">
      <%= link_to artist_path(artist)  do %>
        <div class="artist-card">
          <div class="artist-image d-flex justify-content-center">
          <% if artist.user.user_avatar.attached?  %>
            <%= cl_image_tag(artist.user.user_avatar.key, crop: :fill, class: "avatar-large" )%>
          <% else %>
            <%= image_tag "avatar.jpg", class: "avatar-large" %>
          <% end %>
            <%#= artist.user.user_avatar.key ?  cl_image_tag(artist.user.user_avatar.key) : image_tag "avatar.jpg" %>
          </div>
        </div>
        <p class="text-center mt-3"> <%= artist.user.first_name %>
      <% end %>
    </div>
  <% end %>
</div>
</div>
